extends ./layouts/default

block title
    title 电影预告片

block content
    .container
        .row
            .col-md-8
                h1 hello
                p #{name}
            .col-md-4
                p #{address}